<%= form_for @document, layout: :basic  do |f| %>
        <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
    <fieldset class="form-group">

      <%= f.text_field :description, label: 'Descripción', placeholder: 'Descripción de este documento' %>
      <%= f.date_field :emission_date, label:'Fecha de emisión' %>
      <%= f.file_field :image, :onchange => 'previewFile()', placeholder: 'Elegir imagen' %>

      <img src="" height="200" alt="Imagen..">
    </fieldset>

  <div class="actions">
    <%= f.submit "Crear nuevo documento"%>
  </div>
<% end %>
<script language="JavaScript">
  function previewFile() {
    var preview = document.querySelector('img');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }
</script>