<div class="jumbotron bg-inverse bg center-block  p-b-0 m-t-3 p-t-3">
  <h1 class="">Documentos</h1>
</div>

<div class="container-fluid m-t-3 col-md-3 p-t-3 pull-left bg-light" >
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to user_dashboard_path(@user) do %>
          Mis datos
      <% end %>
    </li>
    <div class="list-group-separator"></div>
    <li class="list-group-item">
      <%= link_to asistente_url do %>
          Crear un documento
      <% end %>
    </li>
    <div class="list-group-separator"></div>
    <li class="list-group-item">
      <%= link_to 'Documentos', documents_path %>
    </li>
    <div class="list-group-separator"></div>
    <li class="list-group-item">
      <%= link_to 'Documentos personales', personal_documents_path %>
    </li>
  </ul>
</div>




<div class="container m-t-3 p-b-3 col-md-9 pull-right">

  <div class="card">
    <%= nav as: :tabs, id: '', class: 'bg-inverse', style:'background-color: #CDDC39;',data: {js: 1} do %>
        <%= sort_link(@q, :created_at, 'Fecha de creación', default_order: :desc) %>
        <%= sort_link(@q, :status, 'Estado', default_order: :desc) %>
    <% end %>
    <%= search_form_for @q, url: {action: 'index'}, html: {class: 'form-inline p-x-1'} do |f| %>
        <div class="form-group">
          <% if @user.administrador? %>
          <% end %>
          <%= f.select(:status_eq, Document.statuses.map{ |v, k| [v.to_s.titleize, k] }, class:'form-control', include_blank: true, prompt: 'Filtrar por estado' ) %>
          <%= link_to request.path, class: 'btn  btn-sm' do %>
              <i class="material-icons">clear</i>
          <% end %>
          <%= button_tag( class: 'btn btn-sm btn-success') do %>
              <i class="material-icons">search</i>
          <% end %>
        </div>
    <% end %>
    <%= paginate @documents %>
    <%= page_entries_info @documents, :entry_name => 'documento' %>

  </div>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <div class="card" style="position: realtive;">
    <% if !@user.administrador? %>
        <%= pie_chart @user.documents.all.group(:status).count.map { |k, v| [Document.statuses.key(k).to_s.titleize, v] }%>
    <% else %>
        <%= pie_chart Document.all.group(:status).count.map { |k, v| [Document.statuses.key(k).to_s.titleize, v] } %>
    <% end %>

  </div>
  <div class="list-group card" style="z-index: 1;">
    <% @documents.each do |document| %>
        <div class="list-group-item">
          <div class="row-action-primary">
            <%= link_to document do %>
                <%= image_tag document.image.url(:medium), class: 'card-img-top img-responsive' %>
            <% end %>
          </div>
          <div class="row-content">
            <div class="least-content">
              <%= render partial: 'status_label', locals: {document: document} %>
            </div>
            <h4 class="list-group-item-heading"><%= document.description.humanize %></h4>
            <p class="list-group-item-text"><small><%= document.created_at %></small></p>
            <% if @user.administrador? %>
                <p class="list-group-item-text"><%= document.user.name %></p>
            <% end %>
            <% unless document.status == 'aceptado' %>
                <p class="list-group-item-text"> <%= document.comentary %> </p>
            <% end %>
          </div>
        </div>
        <div class="list-group-separator"></div>
    <% end %>
    <!-- /list-group -->
  </div>

  <div class='m-x-1 navbar-fixed-top pull-right'>
    <%= link_to new_personal_document_path, class: 'btn btn-danger  btn-fab pull-right', style: 'margin-top: 4em;' do%>
        <i class="material-icons">note_add</i>
    <% end %>
  </div>

  <%= render 'layouts/bottom_menu' %>


</div>
