<div class="container m-t-3">
  <h1>Listado de documentos</h1>
  <% @documents.each_slice(4) do |document| %>
      <div class="row row-eq-height"><!-- row -->
        <% document.each do |doc_col| -%>
            <div class="col-md-3">
              <div class="card">
                <%= image_tag doc_col.image.url(:medium), class: 'img-responsive card-img-top img-thumbnail ' %>
                <div class="card-block">
                  <h4 class="card-title"><%= doc_col.to_s %></h4>
                  <p class="card-text"><%= doc_col.description %></p>
                  <p class="card-text"><small class="text-muted">Emitido <%= doc_col.emission_date %></small></p>
                </div>
                <div class="card-block">
                  <%= link_to 'Ver', doc_col %>
                  <%= link_to 'Editar', edit_document_path(doc_col) %>
                  <%= link_to 'Borrar', doc_col, method: :delete, data: { confirm: '¿Está seguro?' } %>
                </div>
              </div>
            </div>
        <% end -%>
      </div>
  <% end %>



  <%= link_to 'Crear un nuevo documento', new_document_path, class: 'btn btn-info' %>
</div>