<div class="col-md-4 col-md-offset-4 m-y-3 p-t-3">
  <div class="card ">
    <%= image_tag @academic_activity_document.image.url, class: 'card-img-top img-fluid img-center p-x-3' %>
    <div class="card-block">
      <h4 class="card-title text-<%= @academic_activity_document.status_style %> text-center"><%= @academic_activity_document.status.humanize %><small>
        <i class="material-icons text-<%= @academic_activity_document.status_style %>">insert_drive_file</i>
      </small><%= @academic_activity_document.to_s %></h4>
      <p class="card-text">
        <%= @academic_activity_document.description.humanize %>
      </p>
      <p class="card-text">
        Desde:
        <%= @academic_activity_document.from %>
      </p>
      <p class="card-text">
        Hasta:
        <%= @academic_activity_document.to %>
      </p>
      <p class="card-text">
        <%= distance_of_time_in_words(@academic_activity_document.from, @academic_activity_document.to) %>
      </p>
      <p class="card-text text-muted">Creado en <small class="text-muted"><%= @academic_activity_document.created_at %></small></p>
      <% unless @academic_activity_document.status == 'aceptado' %>
      <p class="card-text"> <%= @academic_activity_document.comentary %> </p>
      <% end %>

      <div class="card-block m-b-1">
        <%= link_to  @academic_activity_document, class: 'btn btn-danger btn-fab pull-right', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="material-icons">delete</i>
        <% end %>

        <div class="pull-left m-b-2">
          <%= link_to edit_academic_activity_document_path(@academic_activity_document), class: 'btn btn-success btn-fab' do %>
          <i class="material-icons">edit</i>
          <% end  %>
          <%= link_to  academic_activity_documents_path, class: 'btn btn-info btn-fab' do %>
          <i class="material-icons">keyboard_arrow_left</i>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
