<div class="container m-t-3">

  <%= form_for @university, layout: :basic  do |f| %>
  <fieldset>
    <div id="target">
    <%= f.file_field :logo, class: 'form-control-file', label: 'Logotipo', placeholder: 'Archivo de imagen', id: 'pictureInput' %>
    <%= f.text_field :name, class: "form-control", label: 'Nombre completo', placeholder: 'Nombre de la universidad' %>
    <%= f.text_field :name_short, class: "form-control", label: 'Nombre corto', placeholder: 'Nombre corto' %>
  </fieldset>

  <div class="actions">
    <%= f.submit do %>
      <%= icon :trash, library: :font_awesome, class: 'fa', id: 'icon', data: {value: 1} %>
        <% end %>
  </div>
  <% end %>
</div>
